$namespace: '.--mixpay';

#{$namespace} {
  * {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-size: 100%;
    font-weight: normal;
    -webkit-tap-highlight-color: transparent;
  }

  &.is-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    pointer-events: none;

    #{$namespace}-container {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    #{$namespace}-header__action {
      display: block;
    }
  }

  &-mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.2);
  }

  &-container {
    position: relative;
    z-index: 2;
    pointer-events: auto;
    box-sizing: border-box;
    padding: 20px;
    width: calc(100% - 20px);
    max-width: 480px;
    max-height: 100%;
    overflow: hidden auto;
    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.2);
    background: #fff;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5em;

    &__title-icon {
      width: 8.67em;
    }

    &__action {
      display: none;
      position: relative;
      width: 2em;
      height: 2em;
      border-radius: 50%;
      background-color: #eaeaea;
      cursor: pointer;

      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 1.2em;
        height: 2px;
        background-color: #fff;
        border-radius: 2px;
      }

      &:before {
        transform: translate(-50%, -50%) rotate(-45deg);
      }

      &:after {
        transform: translate(-50%, -50%) rotate(45deg);
      }
    }
  }

  &-footer {
    margin-top: 2.5em;
    text-align: center;

    #{$namespace}-link {
      text-decoration: underline;
      color: #164aff;
    }

    #{$namespace}-link + #{$namespace}-link {
      margin-left: 2em;
    }
  }

  /* Components */
  &-field {
    display: none;

    &__header {
      text-align: center;
      margin-bottom: 2em;

      &-main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        & > {
          img {
            width: 2em;
            height: 2em;
            border-radius: 50%;
          }

          span {
            margin-left: 6px;
            font-size: 1.67em;
            font-weight: 600;
            word-break: break-all;
          }
        }
      }

      &-sub {
        margin-top: 0.83em;
        color: #a7a7b2;
        text-align: center;
      }
    }

    &__content {
      position: relative;
    }

    &__footer {
      margin-top: 2em;
    }

    &__error > span {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 2em;
      width: 100%;
      line-height: 2;
      color: #ff7da0;
      background: rgba(255, 125, 160, 0.1);
    }
  }

  &-field-item {
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0.83em;
    }

    &__content {
      border-radius: 0.83em;
      background-color: #f6f8fa;
    }

    & + & {
      margin-top: 2em;
    }
  }

  &-dropdown {
    position: relative;
    padding: 0 1.17em;
    min-height: 4em;

    &__toggle {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 4em;
    }

    &__selected {
      flex: 1 0 0;
      display: flex;
      align-items: center;

      & > {
        img {
          width: 2em;
          height: 2em;
          border-radius: 50%;
        }

        span {
          margin-left: 0.5em;
          font-size: 1.17em;
        }

        em {
          margin-left: 1em;
          padding: 6px 8px;
          font-size: 0.87em;
          border-radius: 6px;
          background: #e4f9e9;
          color: #62d37e;
        }
      }
    }

    &__icon {
      flex: 0 0 2em;
      height: 2em;
      color: #1e1e22;
      transform: rotate(90deg);
    }

    &__toggle.disabled > &__icon {
      display: none;
    }

    &__menu {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 10;
      width: 100%;
      height: 15em;
      background: #fff;
      box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.2);
      overflow: hidden auto;

      &.show {
        display: block;
      }

      & > li {
        display: flex;
        align-items: center;
        padding: 1em 1em;

        & > {
          img {
            width: 2em;
            height: 2em;
            border-radius: 50%;
          }

          span {
            margin-left: 0.5em;
            font-size: 1.17em;
          }

          em {
            margin-left: 1em;
            font-size: 0.87em;
            padding: 6px 8px;
            border-radius: 6px;
            background: #e4f9e9;
            color: #62d37e;
          }
        }
      }
    }
  }

  &-input-item {
    display: flex;
    align-items: center;
    padding: 0 1.17em;
    min-height: 4em;

    &__control {
      height: 4em;
      flex-grow: 1;
    }

    &__input {
      border: 0;
      background: transparent;
      width: 100%;
      height: 100%;
      font-size: 1.17em;
      outline: none;

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        appearance: none;
      }
    }

    &__right {
      padding-left: 1em;
      flex-shrink: 0;
    }
  }

  &-btn {
    &-group {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-primary {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      min-width: 50%;
      padding: 0.857em 1em;
      border: 0;
      font-size: 1.17em;
      font-weight: 600;
      background: #164aff;
      color: #fff;
      border-radius: 1.35em;

      &.inactive {
        opacity: 0.8;
      }
    }

    &-inline {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border: 0;
      font-size: 1.17em;
      font-weight: 600;
      color: #164aff;
      background: transparent;
    }

    &-icon {
      width: 1em;
      height: 1em;
      transform: rotate(180deg);
    }
  }

  &-radio-item {
    position: relative;

    &__content {
      display: flex;
      align-items: center;
      padding: 1.5em 1.17em;
      background: #f6f8fa;
      border-radius: 0.83em;

      > p {
        flex: 1 0 0;
      }
    }

    &__logo {
      margin-right: 1em;
      width: 2.67em;
      height: 2.67em;
      background: #fff;
      border-radius: 50%;
    }

    &__radio {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
    }

    &__checked {
      width: 1.67em;
      height: 1.67em;
      color: #164aff;
      opacity: 0;
    }

    &__radio:checked + &__content {
      background: #e1e8ff;
    }

    &__radio:checked + &__content &__checked {
      opacity: 1;
    }

    & + & {
      margin-top: 0.83em;
    }
  }

  &-checkout {
    &__qrious {
      &-box {
        position: relative;
        width: 100%;
        padding-top: 100%;

        > canvas {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          background: red;
        }
      }
    }

    &__countdown {
      margin-top: 1em;
      text-align: center;

      > strong {
        color: #ffa527;
      }
    }
  }

  &-copy {
    &-toggle {
      position: relative;

      &:after {
        content: attr(data-success);
        display: inline-block;
        position: absolute;
        z-index: 2;
        background: #fff;
        padding: 4px 6px;
        border-radius: 4px;
        word-break: normal;
        box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
        color: #ceccd9;
        transition: opacity ease-in-out 0.1s;
        opacity: 0;
      }

      &.copy-success:after {
        opacity: 1;
      }
    }

    &-icon {
      width: 1em;
      height: 1em;
      vertical-align: bottom;
      display: inline-block;
      color: #a7a7b2;
    }
  }

  &-status {
    &-icon {
      width: 5.67em;
      height: 5.67em;
    }

    &-title {
      font-size: 1.67em;
      text-align: center;
      font-weight: bold;
      color: #1e1e22;
    }

    &-des {
      margin-top: 1em;
      text-align: center;
      color: #473c20;
      padding: 1em 2em;
      background: rgba(#ffecac, 0.2);
      border: 1px solid #ffecac;
      border-radius: 1em;
    }

    &-payment {
      margin-top: 1em;
      font-size: 1.67em;
      text-align: center;
    }

    &-quote {
      margin-top: 1em;
      text-align: center;
      color: #adb5be;
    }
  }
}

/* pages */
#{$namespace}-field[data-page='loading'] {
  position: relative;
  min-height: 10em;

  #{$namespace}-loading {
    position: absolute;
    top: 50%;
    margin-top: -21px;
    width: 100%;
    text-align: center;

    svg {
      width: 42px;
      height: 42px;
      animation: loading-rotate 2s linear infinite;
    }

    circle {
      animation: loading-dash 1.5s ease-in-out infinite;
      stroke-dasharray: 90, 150;
      stroke-dashoffset: 0;
      stroke-width: 2;
      stroke: #164aff;
      stroke-linecap: round;
    }
  }
}

@keyframes loading-rotate {
  100% {
    transform: rotate(1turn);
  }
}

@keyframes loading-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -40px;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -120px;
  }
}

#{$namespace}-field[data-page='payment'] {
  #{$namespace}-field-item:nth-child(2) #{$namespace}-field-item__content {
    background: transparent;
  }

  #{$namespace}-btn-inline {
    margin-left: 2em;
  }
}

#{$namespace}-field[data-page='checkout-mixin'] {
  #{$namespace}-field__header {
    #{$namespace}-copy-toggle:after {
      font-size: 0.5em;
    }
  }
  #{$namespace}-field__content {
    text-align: center;
  }

  #{$namespace}-checkout {
    &__qrious {
      margin: 0 auto;
      width: 80%;
    }

    &__brief {
      margin-bottom: 1em;
    }
  }

  #{$namespace}-btn-primary {
    margin-right: 1.5em;
  }
}

#{$namespace}-field[data-page='checkout-chain'] {
  #{$namespace}-field__header {
    #{$namespace}-copy-toggle:after {
      font-size: 0.5em;
    }
  }
  
  #{$namespace}-checkout {
    &__content {
      display: flex;
      align-items: flex-start;
    }

    &__info {
      box-sizing: border-box;
      width: 60%;
      padding-right: 1em;
    }

    &__info-item {
      &:not(:first-child) {
        margin-top: 0.83em;
      }

      & > h4 {
        color: #a7a7b2;
      }

      & > p {
        margin-top: 0.42em;
        display: inline-block;
        word-break: break-all;
        line-height: 1.5;
      }

      #{$namespace}-copy-icon {
        width: 1.5em;
        height: 1.5em;
      }
    }

    &__qrious {
      width: 40%;
    }
  }

  #{$namespace}-btn-inline {
    margin-left: 1.5em;
  }
}

#{$namespace}-field[data-page='checking'],
#{$namespace}-field[data-page='pending'] {
  #{$namespace}-status-icon,
  #{$namespace}-status-title {
    color: #ffa527;
  }
}

#{$namespace}-field[data-page='success'] {
  #{$namespace}-status-icon,
  #{$namespace}-status-title {
    color: #62d37e;
  }
}

#{$namespace}-field[data-page='failed'],
#{$namespace}-field[data-page='overtime'] {
  #{$namespace}-status-icon,
  #{$namespace}-status-title {
    color: #ff4466;
  }
}
